:root {
    --main-bg-color:#316cb3   ;
    --main-text-color: white;
    --component-bg-color: #c5d8ef ;
}

.algoName{
    grid-area:name;
}
.timeComplexity{
    grid-area:timeComplexity;
}
.spaceComplexity{
    grid-area:spaceComplexity;
}
.algorithimAnimation{
    grid-area:animation;
}
.desc{
    grid-area:desc;
}

@media (min-width:1250px){
    .algorithim{
        background-color: var(--component-bg-color);
        color: var(--main-bg-color);
        border-radius: 20px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        grid-column-gap: .5vw;
        grid-row-gap: 0px;
        padding: 20px;
        grid-template-areas: 
        "name     .    timeComplexity"
        ".        .    spaceComplexity"
        "desc     desc desc"
        "animation animation animation";
    }

    .dotContainer{
        grid-column: 1/span 3;
        display: grid;
        justify-content: center;
        text-align: center;
        grid-template-columns: repeat(40, .6vw);
        grid-template-rows: 1fr;
        grid-column-gap: .5vw;
        grid-row-gap: 0px;
        height: 30px;
    }

    .sortingAlgoPage{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        padding: .5vw;
    }

    .sortingAlgorithimHeader{
        background-color: var(--component-bg-color);
        grid-column:1/span 2;
        padding: 2vw;
        border-radius:20px;
        text-align: center;
    }

    .dot{
        background-color: var(--main-bg-color);
        border-radius: 10%;
        border: 1px solid black;
    }
}

@media (max-width:1249px){
    .algorithim{
        background-color: var(--component-bg-color);
        color: var(--main-bg-color);
        border-radius: 20px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        grid-column-gap: .5vw;
        grid-row-gap: 0px;
        padding: 20px;
        grid-template-areas: 
        "name     name"
        "timeComplexity spaceComplexity"
        "desc desc"
        "animation animation";
    }

    .dotContainer{
        grid-column: 1/span 3;
        display: grid;
        justify-content: center;
        text-align: center;
        grid-template-columns: repeat(40, 1.5vw);
        grid-template-rows: 1fr;
        grid-column-gap: .5vw;
        grid-row-gap: 0px;
        height: 30px;
    }

    .sortingAlgoPage{
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        padding: .5vw;
    }

    .sortingAlgorithimHeader{
        background-color: var(--component-bg-color);
        padding: 2vw;
        border-radius:20px;
        text-align: center;
    }

    .dot{
        background-color: var(--main-bg-color);
        border: .5px solid black;
    }
}

/*# sourceMappingURL=/css.967bad95.css.map */